.aside-wrapper{
    @apply h-full overflow-y-auto flex flex-col gap-[1.37rem] pl-[3.25rem] pt-[2.5rem] bg-white;
}
.sidebar-item.open img.arrow{
  transform: rotate(180deg);
}
.sidebar-content{
  padding-top: .25em;
  overflow: hidden;
  height: 0;
}
.sidebar-item.open  .sidebar-content{
  height: auto;
}
